.alunos-list {
    padding: 20px;
    min-width: 390px;
  
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
  
      .logo {
        height: 50px;
        margin-right: 20px;
      }
  
      h1 {
        flex: 1;
        font-size: 24px;
        margin: 0;
      }

    }
  
    table {
      width: 100%;
      margin: 0 auto;
    }

    th.mat-header-cell {
      font-weight: bold;
    }

    // ::ng-deep th.mat-header-cell,
    // ::ng-deep td.mat-cell {
    //   text-align: center !important; 
    //   vertical-align: middle;
    //   border: 1px solid red;
    // }

    //Ajustar/unificar
    // ::ng-deep th.mat-column-name,
    // ::ng-deep td.mat-column-name {
    //   min-width: 100px !important;
    //   text-align: center !important;
    // }

    // ::ng-deep th.mat-column-email,
    // ::ng-deep td.mat-column-email {
    //   text-align: center !important;
    // }

    // ::ng-deep th.mat-column-acoes,
    // ::ng-deep td.mat-column-acoes {
    //   min-width:160px !important;
    //   text-align: center !important;
    // }

    mat-table th.mat-header-cell,
    .mat-table td.mat-cell {
      text-align: center;
      vertical-align: middle;
      border: 1px solid red;
    }

    .mat-column-name {
      min-width: 100px;
      text-align: center;
    }

    .mat-column-email {
      text-align: center;
    }

    .mat-column-acoes {
      min-width: 160px;
      text-align: center;
    }

  }

  .sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
  
    .welcome-message {
      font-size: 18px;
      font-weight: 500;
    }
  
    button {
      min-width: 150px;
      border-style: none;
      border-width: 0px;
      border-radius: 5px;
      color: #ffffff;
      background-color: #e6532d;
    }
  }

  .acoes-cell {
    // display: flex;
    justify-content: center;
    gap: 7px;
  
    .icon-msg {
      color: #0c5aa7;
      transition: transform 0.2s;
    }
  
    .icon-editar {
      color: #0c5aa7;
      transition: transform 0.2s;
    }
  
    .icon-excluir {
      color: #e53935;
      transition: transform 0.2s;
    }
  
    button:hover .icon-msg {
      transform: scale(1.2);
    }
  
    button:hover .icon-editar {
      transform: scale(1.2);
    }
  
    button:hover .icon-excluir {
      transform: scale(1.2);
    }
  }

  .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;

    button{
      min-width: 150px;
      border-style: none;
      border-width: 0px;
      border-radius: 5px;
      color: #ffffff;
      background-color: #979797;
    }
  }