<div class="alunos-list">

    <div class="header">
      <img src="assets/logo.png" alt="Inicie" class="logo" />
      <h1>Gestão de Alunos</h1>
    </div>

    <div class="sub-header">
      <span class="welcome-message">Bem-vindo {{currentUserName}}!</span>
      <button mat-raised-button color="primary" (click)="adicionarAluno()">Adicionar Aluno</button>
    </div>

    <table mat-table [dataSource]="alunos" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let aluno"> {{aluno.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let aluno"> {{aluno.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let aluno" class="acoes-cell">
          <button [disabled]="aluno.name === currentUserName" mat-icon-button color="warn" (click)="iniciarChat(aluno)">
            <mat-icon class="icon-chat">chat</mat-icon>
          </button>

          <button mat-icon-button color="primary" (click)="editarAluno(aluno)">
            <mat-icon class="icon-editar">edit</mat-icon>
          </button>
      
          <button mat-icon-button color="warn" (click)="excluirAluno(aluno.id!)">
            <mat-icon class="icon-excluir">delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['name','email','acoes']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['name','email','acoes']"></tr>
    </table>
    <div class="footer">
      <button mat-raised-button color="primary" (click)="sair()">Voltar para login</button>
    </div>
</div>